$primary-color: #385170;
$secondary-color: #f0f2f1;
$text-primary-color: #34495e;
$text-secondary-color: #77c4d7;
$light-color: #cccccc;
$font: 'Roboto', sans-serif;
$bold-font: 800;
$normal-font: 500;
